[2014-05-29 18:53] tinuva opened #10 "{% if %x in pillar['postgres'] %} not working"
Hi,

I recently attempted to use this formula and received an error on 14 and 29 of init.sls that there is something wrong with the syntax.

If I replace
---> {% if 'pg_hba.conf' in pillar['postgres'] %}
with
---> {% if salt['pillar.get']('postgres:pg_hba.conf') %}

and
---> {% if 'db' in pillar['postgres'] %}
with
---> {% if salt['pillar.get']('postgres:db') %}

then it works 100%.

This is on Ce

[2014-05-29 19:03] #10 closed, assigned to nobody

[2014-05-30 20:48] tinuva opened #11 "RedHat pkg mapping"
Hi,

Testing this formula on a clean CentOS 6.5 minimal install, I found that it installed postgresql client utilities, but not the actual service, and as such the service state fail starting up,

Changing line 9 in map.jinja
from:
        'pkg': 'postgresql',
to:
        'pkg': 'postgresql-server',

seems to do the trick.

[2014-05-30 21:34] tinuva opened #12 "Redhat/CentOS database need to be initialized before service starts up for the 1st time"
Hi,

on a clean CentOS 6.5 install, the service state fail if the database haven't been initialized.

The output is as follow:

[root@salt-test-centos ~]# /etc/init.d/postgresql start

/var/lib/pgsql/data is missing. Use "service postgresql initdb" to initialize the cluster first.
                                                           [FAILED]

After issueing that command the service starts up

[2014-10-01 13:23] berry-langerak opened #18 "PostgreSQL versions are mixed."
Hi!

It seems that this formula installs postgresql-server-9.1, and yet it installs postgresql-9.3-dev. That doesn't really make a whole lot of sense, as OSes that have postgresql-server-9.1 don't necessarily have a package for postgresql-9.3-dev, and vice versa.

Additionally, there doesn't seem to be a way to install another version of PostgreSQL, and this formula seems to be pinned to 9.1. This

[2014-10-06 09:36] #11 closed, assigned to nobody

[2014-10-06 09:36] #12 closed, assigned to nobody

[2014-10-06 09:37] #18 closed, assigned to nobody

[2014-10-06 09:46] berry-langerak opened #21 "Unable to edit configuration in postgresql.conf"
As it currently stands, there's no way to update the PostgreSQL configuration. That would be a cool feature to have, as it's not uncommon to change (for instance) the `listen_addresses` directive in postgresql.conf.

I've already sent in a pull request - #20 - to add this functionality.

[2014-10-06 11:22] #21 closed, assigned to nobody

[2014-12-29 22:53] brot opened #26 "map.jinja not working on Ubuntu systems"
For '14.04' and '14.10' there are some entries missing. Without two of them (init_db and pkg_libpq_dev) the formula is not working on Ubuntu 14.04/14.10 systems.

Additionally I would like to know why this formula installs two versions of the database (pkg and pkg_dev)? How can I prevent to install the development version?
Shouldn't there be a setting in the pillar file?

[2014-12-31 23:39] #26 closed, assigned to nobody

[2015-01-09 15:22] rhertzog opened #28 "Default pg_hba.conf should not use "trust" directive"
I see this in your pg_hba.conf:
[code]

If I read this correctly, this means that any local user can connect as anyone else... the default value at least on Debian systems is to have "md5" instead of "trust" on those lines so that access over IP is password restricted. Please change this to a safer default and let people which want those unsafe rules add them themselves (through the postgres:acls

[2015-01-09 15:32] rhertzog opened #29 "Do not install -dev packages by default, use a separate state or a pillar to enable that feature"
Most Postgres servers do not need the development headers installed. On the contrary, installing those packages will bring a bunch of other unwanted packages (including a compiler).

One can work around this by setting the pillar "postgres:lookup:pkg_dev" to False but this does not look like the proper interface to make such a decision. Either you need a pillar "postgres:install_dev_packages" that

[2015-01-09 15:34] rhertzog commented on #29
BTW the work-around above doesn't work as you also install libpq-dev unconditionally. :-(

[2015-01-24 22:49] mriedmann commented on #28
As I've seen this is solved in the current master-branch
See: #30

[2015-01-26 08:11] rhertzog commented on #28
Yeah, confirmed. Closing.

[2015-01-26 08:11] #28 closed

[2015-02-23 13:00] masterkorp opened #37 "Update the README format to markdown"
Most formulas currently use markdown as markup language.

I would open a pull request converting this formula if there is no one against that.

[2015-02-23 13:18] babilen commented on #37
Fair enough, please do that if you like.

[2015-02-23 19:04] gravyboat commented on #37
I'm going to close this since we discussed it over in #39.

[2015-02-23 19:04] #37 closed

[2015-02-26 09:24] Niyakiy opened #41 "Incorrect behavor using 'use_upstream_repo'"
hi, there is issue with 'use_upstream_repo' pillar variable:
this time it used like:
`
{% if 'use_upstream_repo' in pillar.get('postgres') %}
install-postgresql-repo:
 .... omit some strings ....
{% endif %}
`
but such usage checks only existence of variable in pillar but not its value.
looks like it should be something like this:

`{% if 'use_upstream_repo' in pillar.get('postgres') %}
{% if salt

[2015-02-26 17:01] iggy commented on #41
Protip: Use 3 ` (backticks) around code to keep markdown from trying to interpret parts of it.

I agree. Feel free to submit a PR to change it.

You should be able to just do:
[code]

[2015-02-26 21:54] rmoorman commented on #41
Hello,

The lines mentioned in this ticket also cause errors in case no pillar data is set at all for "postgres". It should work out of the box with no additional configuration as stated in the [documentation](http://docs.saltstack.com/en/latest/topics/development/conventions/formulas.html#configuring-formula-using-pillar).

However, I get the following error:

[code]

Which is seems to be fixed i

[2015-02-27 07:16] Niyakiy commented on #41
agree with @rmoorman - #42 must be merged.

[2015-02-27 23:02] nmadhok commented on #41
Merged!

[2015-02-27 23:02] #41 closed

[2015-03-11 09:07] arthurlogilab opened #43 "Convert the cmd.run for creating clusters to using the cluster execution module"
https://github.com/saltstack/salt/pull/21314 has been merged into develop, it could be used instead of doing cmd.run

States should be arriving shortly.

[2015-03-11 17:13] iggy commented on #43
That won't make it into a release for quite some time (2015.9?). Even then most people aren't going to immediately move to the latest version. So... long term goal I guess.

[2015-04-24 17:06] nicksloan opened #48 "Tablespaces support breaks backward compatibility"
17baaa9 breaks backward compatibility by forcing a new key to be added to the pillar called tablespaces. This should definitely be defaulted to an empty dict in the state.

[2015-04-24 17:46] gravyboat commented on #48
Thanks for the note @nicksloan. @iggy Do you already have a fix for this planned in your future stuff?

[2015-04-24 18:20] #48 closed

[2015-04-24 18:20] gravyboat commented on #48
@nicksloan this is now fixed with #49. You should be good to go, thanks again for the report.

[2015-04-24 18:20] iggy commented on #48
Sorry about that. I'll make sure I test that kind of thing next time.

[2015-04-27 15:06] jmdcal opened #50 "tablespaces missing from example"
it looks like tablespaces are missing from the example pillar but required by the template

[2015-04-27 15:39] iggy commented on #50
They are in default.yaml (as of #49 ). I haven't added them to the pillar.example yet because I think I'm going to change the layout of the dict. When I first did the tablespace support all I supported was name/directory. When I did this round of ts support, I actually enabled the options/owner/etc support (but my original pillar structure didn't support that).

[2015-05-02 02:17] joshland opened #52 "Does not function from salt-call"
I use salt-call and vagrant for various testing which I perform as I am developing salt states.  I am fairly new to the salt world, so occasionally I misunderstand what is happening.  When I tried to use this formula, from 'salt-call' in my salty vagrant, I get the following error:

[code]

I found a few references to this, but https://github.com/saltstack/salt/issues/15616 appears to address this

[2015-05-03 16:10] thomaschaaf commented on #52
I too get this error. I tried an older version (older then when postgres_ext.py) was added and that works.

[2015-05-04 16:00] iggy commented on #52
What version of Salt are you guys running? (which btw is something you should include in every bug report ;)

[2015-05-05 03:59] joshland commented on #52
I updated my original message with version information - I apologize that I forgot it.

[2015-05-05 18:15] #52 closed

[2015-05-05 18:16] babilen commented on #52
@joshland Could you try it again with the current version? @iggy's PR just got merged.

[2015-05-05 23:24] gravyboat commented on #29
This is fixed in #55 @rhertzog

[2015-05-05 23:24] #29 closed

[2015-06-01 03:37] nmistry opened #58 "postgres.upstream fails when installing only postgres.client"
https://github.com/saltstack-formulas/postgres-formula/blob/master/postgres/upstream.sls#L11-L12

`postgres.upstream` references the state defined by the variable `postgres.pkg`.  This state does not exist when installing  `postgres.client`.

[code]

[2015-06-24 20:51] alexhayes opened #60 "Ubuntu installation fails due to locale setting"
Using Vagrant to create a VirtualBox machine using a base Ubuntu 14.04 installation SLS `postgres` fails.

Without attempting to set `LC_ALL` or `LANG` the installation of the postgres package seemingly succeeds, but with a bunch of issues. For instance the `/etc/postgres` directory is not created and database initialisation fails.

There are a number of issues that appear related to this but I di

[2015-06-24 20:58] alexhayes commented on #60
Note I'm going to close this now as I can no longer replicate the issue (after being able to replicate it without fail by running `vagrant up`/`vagrant destroy` multiple times!) after removing my `locale/__init__.sls`.

I can only assume that installation of the package `language-pack-en` was somehow stale, perhaps because of the following Vagrant configuration, however this seems extremely odd to

[2015-06-24 20:58] #60 closed

[2015-07-30 12:39] madssj commented on #58
Hey @iggy would this not be solved by removing the `require_in` statement? Seeing as salt should take care of the proper ordering anyway.

If not, it could be solved with implicit ordering.

I'd be happy to send a PR, just let me know how it'd be best solved here.

[2015-08-05 16:05] iggy commented on #58
require_in on pkgrepo is a special case. It makes sure the package manager does an update (apt-get update) before it tries to install the package (vs just running the state).

It should probably be `- pkg: install-postgresql`

[2015-08-24 19:43] AusIV opened #63 "Service not installed on CentOS 7"
On CentOS 7, the package that provides the server is postgresql-server, but only postgres is being installed. This means that the postgres user isn't being created, and the service isn't available to be enabled.

[2015-08-25 19:22] iggy commented on #63
I'll look into this sometime this week.

[2015-08-26 13:32] bartek opened #64 "Improperly formatted top file matcher in saltenv OrderedDict([('refresh', False)]): False file"
Hey all,

This is a fun one. When I would run `state.apply`, I get the following error:

[code]

I investigated heavily, and it all seem to come down to the `refresh` states being used here:

* https://github.com/saltstack-formulas/postgres-formula/blob/master/postgres/init.sls#L15
* https://github.com/saltstack-formulas/postgres-formula/blob/master/postgres/client.sls#L11

I tinkered with these t

[2015-08-26 14:23] puneetk commented on #64
@iggy tag you it

[2015-08-26 15:37] iggy commented on #64
I don't know why that would be happening.

For clarification, you simply removed the `- refresh: {{ postgres.use_upstream_repo }}` line and it started working? If not, can you just show us exactly what you're running?

Can you share your top file?

[2015-08-26 16:59] bartek commented on #64
@iggy

Yup, that's the line I removed and it works now.

Which top file would help? It's basically a list of our server patterns and the wether or not to use `postgres`

[2015-08-26 17:00] bartek commented on #64
For the record,

[code]

[2015-08-26 17:05] iggy commented on #64
Do you have more than one top file?

[2015-08-26 17:25] bartek commented on #64
@iggy

Yes, we have one in `pillar` and one in `salt`, the latter being for definition of states on each server.

[2015-08-26 17:58] iggy commented on #64
Oh, yeah. More info is better. So paste whatever you can.

[2015-08-26 20:02] bartek commented on #64
@iggy

Sure! Here are my two top files:

**pillar/top.sls**

[code]

`postgres/web` and `postgres/gapi` are just additional specific configuration, setting `databases` and specific `users` for the `postgres` formula.

**salt/top.sls**

[code]

[2015-08-26 21:38] iggy commented on #64
You are supposed to use `.` as separators, not `/`

You can't use include in top files.

[2015-08-27 18:17] bartek commented on #64
@iggy

Stunning! That removes the `OrderedDict` issue. Do you know offchance why that would occur? I can't mentally map those two changes to the problem I was having, but I don't know much about Salt's internals. Would love to hear your input :)

Thanks so much!

[2015-08-27 18:37] iggy commented on #64
The error message is garbage. I was mostly working off the fact that it was talking about `refresh: True` in the top file. That should never happen.

[2015-08-28 13:06] bartek commented on #64
@iggy Gotcha. I just came to the conclusion that it came from this formula but you're right, seems to be a generic garbage error.

Thanks. Case closed!

[2015-08-28 13:06] #64 closed

[2015-09-15 21:12] danimbrogno opened #66 "Add conf_dir to pillar.example"
Noticed that you have "conf_dir" set in the defaults.yaml file, but this isn't overridden in the pillar.example file. I was getting errors related to the postgres.conf file not being found when I called state.highstate until I realized this had to be set in the postgres.sls pillar. In the interest of having sane defaults in pillar.example I'm suggesting this setting be added:

conf_dir: '/etc/post

[2015-09-15 21:27] iggy commented on #66
What distro? It sounds like it should probably be something in the codenamemap or osmap.

[2015-09-15 22:02] danimbrogno commented on #66
Ubuntu 14.04.3 LTS (GNU/Linux 3.13.0-63-generic x86_64)

[2015-09-15 22:29] SunPowered commented on #66
+1 The conf_dir for Ubuntu must be set explicitly.  This should be added to the osmap

[2015-09-15 22:34] puneetk commented on #66
please send pull request with fixes, thank you :+1:

[2015-11-15 19:13] blast-hardcheese commented on #63
Just ran into this myself a couple weeks ago-- This is due to Cent packaging putting client binaries in the `postgresql` package, while the server is in `postgresql-server`:

[code]

[2015-11-15 19:21] blast-hardcheese commented on #63
Not sure if this changed in CentOS 7, and I don't have a CentOS 6 box still around to check.

[2015-11-23 19:17] abednarik commented on #66
This is already done https://github.com/saltstack-formulas/postgres-formula/commit/abd8314225792f519aab053e228dd213db777da0

Would be good to close this issue :)

[2015-11-23 19:48] #66 closed

[2015-12-29 19:43] herisanu opened #80 "Where would barman salt state go?"
Hi,
we're using barman (http://www.pgbarman.org/) as a backup tool for postgres? Where would the barman state go? Would you accept a postgres.barman inside the current formula?

[2015-12-29 19:45] masterkorp commented on #80
I think a separated formula would be the best.

[2015-12-29 19:47] gravyboat commented on #80
Yeah I'd rather have another formula. I can create the repo if you want to work on it.

[2016-01-02 21:07] herisanu commented on #80
That's ok, thanks.

[2016-01-02 21:07] #80 closed

[2016-01-04 15:06] EvaSDK opened #81 "First state run fails"
Here is the output of state.highstate:
[code]

The issue is that the following block is not requiring postgres to be already installed so the file does not exist yet:
https://github.com/saltstack-formulas/postgres-formula/blob/master/postgres/init.sls#L56

[2016-01-04 15:10] EvaSDK commented on #81
Actually this block: https://github.com/saltstack-formulas/postgres-formula/blob/master/postgres/init.sls#L8

but it appears there is a dependency problem for other files in this formula.

[2016-01-17 03:13] myii commented on #58
Using the following workaround to avoid this but still pull all relevant packages from the upstream repo.  Slightly more verbose, unfortunately.

##### Workaround

Remove or comment out lines in `upstream.sls`:

[code]

Use conditional `require` in `init.sls`:

[code]

Same again in `client.sls`:

[code]

And that does the trick.  Note that the `if` could come after the `refresh` but have enclosed

[2016-02-17 19:32] #63 closed

[2016-05-15 12:28] Routhinator opened #89 "Formula will not work with 9.5"
I'm opening this for users looking to use this module. Until the following bug in the postgres salt state is merged and rolled out to package repos, this formula with fail with 9.5:

https://github.com/saltstack/salt/issues/26845

[2016-05-15 18:00] iggy commented on #89
We have copies of other states/modules in this formula, we could just pull over the fixed version for now.

[2016-05-24 06:42] dahrens opened #91 "postgres restarts on highstate - intended behaviour?"
we've started using the postgres formula and encountered an issue when highstating. The database server does a restart instead of a reload which leads to problems with apps using the database, which also need a restart.

I guess that the reason is inside of the [run-postgresql state](https://github.com/saltstack-formulas/postgres-formula/blob/e9e41eb12c22a3cb487a0063195444f7b84e184b/postgres/init.

[2016-05-24 06:59] gravyboat commented on #91
The actual trigger is occurring here: https://github.com/saltstack-formulas/postgres-formula/blob/master/postgres/init.sls#L82-L83 by default when triggered via a watch statement of the `pg_hba.conf` and here: https://github.com/saltstack-formulas/postgres-formula/blob/e9e41eb12c22a3cb487a0063195444f7b84e184b/postgres/init.sls#L67-L68 via the blockreplace.

 I don't see any reason not to use `relo

[2016-05-25 09:18] dahrens commented on #91
As mentioned i've created the pull request. Thanks @gravyboat for taking care of the initial question!

[2016-05-25 16:49] #91 closed

[2016-05-25 16:49] gravyboat commented on #91
No problem.

[2016-05-27 16:33] nicksloan opened #98 "More careful management of development"
Our states are broken at the moment because of some of the recent updates to this formula. Obviously this is not ideal.

I propose that in-development changes should probably be done on a separate branch until they can be properly vetted and tested more thoroughly.

Additionally, we're going to update our config files to depend on a fork of this repo so that updates have to be merged in by us manu

[2016-05-27 18:24] gravyboat commented on #98
Generally we advise users against referencing the formulas directly because as you said they can break some environments (we're all unpaid volunteers so catching all the edge cases can be problematic). The general workflow is that you would fork the repo and treat what you know as working as your master, then merge changes to the formula into some sort of development or test branch to confirm they

[2016-05-27 23:48] nicksloan commented on #98
@gravyboat Thanks for the response. Yeah, I was thinking about some of these things myself after I posted that, and I agree that I don't want to create a burden for contributors that would potentially drive them away.

Maybe the contributor-friendly approach would be to simply duplicate this message from the docs in the README.md: "**We strongly recommend forking a formula repository** into your o

[2016-05-27 23:54] gravyboat commented on #98
@nicksloan Putting that line into the readme would be a good addition. I THINK a few people have done that for a repo here and there, but it definitely isn't in all of them. The only thing that might be good to add is a link on how to fork GitHub repos. If you want to contribute that or urge others to do so feel free! I know I would be happy to merge this sort of improvement, and I'm sure others w

[2016-06-06 11:53] EvaSDK opened #100 "postgresql-cluster-prepared state is broken"
Current logic for postgresql-cluster-prepared state does not work on Debian OS family and other OSes most likely due to initdb and create_cluster being false by default. The flaws is that the id cover two boolean that create 4 different states at least 2 of which are invalid (both true and both false).

I will submit a PR to clean that up in a few minutes.

[2016-06-06 20:07] aboe76 commented on #100
@EvaSDK I'm sorry to say but there isn't a pg_createcluster on Archlinux so your modification will fail on Archlinux, and I couldn't find anything usefull in the postgres source code,
so this looks like a ubuntu / debian specific command...

Can you confirm this?

[code]

[2016-06-07 08:36] EvaSDK commented on #100
I didn't add that command.

[2016-06-07 08:42] EvaSDK commented on #100
Ok so I got tricked by the formula into thinking initdb is actually createdb so my fix is indeed wrong but so was the formula anyway. https://www.postgresql.org/docs/9.4/static/creating-cluster.html

[2016-06-07 08:48] aboe76 commented on #100
@EvaSDK Thanks for looking into this, can you create a pr? or should I

[2016-06-07 09:08] EvaSDK commented on #100
I am working on it right now.

[2016-06-08 10:08] EvaSDK commented on #100
Fixed.

[2016-06-08 10:08] #100 closed

[2016-06-18 08:19] itbabu opened #106 "Error: cluster configuration already exists"
After #100 I can't run the formula on ubuntu 14.04

[code]
There is no option to disable pg_createcluster on Ubuntu (?)

https://github.com/saltstack-formulas/postgres-formula/blob/e15861cb64aa9c139fa21e7b9c1e4bdc0f371680/postgres/init.sls#L28-L44
[code]

[2016-06-22 15:48] tgoodaire commented on #106
I believe that this issue is resolved by https://github.com/saltstack-formulas/postgres-formula/pull/105

But that PR hasn't been merged  yet.

[2016-09-01 18:48] Neocid commented on #89
We have the same error here.

`Command '/usr/bin/psql --no-align --no-readline --no-password --dbname postgres -v datestyle=ISO,MDY -c \'COPY (SELECT pg_roles.rolname as "name",pg_roles.rolsuper as "superuser", pg_roles.rolinherit as "inherits privileges", pg_roles.rolcreaterole as "can create roles", pg_roles.rolcreatedb as "can create databases", pg_roles.rolcatupdate as "can update system catal

[2016-09-02 08:54] babilen commented on #89
I think @iggy's idea of simply backporting a fixed version of the respective modules would be a sane approach. Which version is needed?

@Neocid: Which version of Saltstack are you running on the minion?

[2016-09-02 09:06] vutny commented on #81
I guess this is already resolved and should be closed.

[2016-09-02 13:04] Neocid commented on #89
@babilen We use an old version which is now deprecated: 2015.5.3 (Lithium). We will try with the latest version.

[2016-09-02 16:48] #81 closed

[2016-09-05 15:02] vutny commented on #89
The issue saltstack/salt#26845 has been fixed since Salt version `2015.8.4`.
Anyhow, it's really easy to obtain fixed `salt/modules/postgres.py` file and put it under your `salt://_modules/` custom modules directory to get this resolved.

I think this issue could be safely closed.

[2016-09-05 18:33] babilen commented on #89
Thank you for the update, @vutny

[2016-09-05 18:33] #89 closed

[2016-09-06 01:23] Neocid commented on #89
Thanks @vutny

[2016-09-07 12:10] vutny commented on #50
The `pillar.example` file already has `tablespaces` item. Looks like this is no longer an issue.

[2016-09-07 18:06] #50 closed

[2016-09-08 08:38] vutny commented on #106
Looks like this is already resolved in `master`.

[2016-09-08 16:12] #106 closed

[2016-09-22 09:42] vutny commented on #58
@gravyboat This is finally resolved now after PR #124 was merged.

[2016-09-22 16:27] #58 closed

[2016-09-23 23:01] javierbertoli opened #125 "yaml files carry too much logic"
The formula's yaml files are carrying too much logic for files that must let you, at a quick glance, understand what values are being set as default or overriden in each of those files.

Even more, some of logic in these files, which should be loaded before pillars, are querying pillar values to construct variables or include values.

My understanding is that these files should just contain variab

[2016-10-15 16:53] iggy commented on #125
Agreed... This really isn't in the spirit that we originally had in putting some of this stuff into yaml to begin with. The original "shoving everything into map.jinja" way was impossible to read. This has just come full circle to be impossible to read again.

[2016-11-18 15:33] dhs-rec opened #131 "Support for postgres_language"
Looks like the formula can manage nearly every aspect of a PostgreSQL server installation, except server side languages, using the postgres_language state. Any chance to get this added?

[2016-11-18 17:17] gravyboat commented on #131
I haven't seen anyone propose a PR, feel free to submit one if you would like.

[2016-12-08 10:25] arthurlogilab opened #133 "Missing fromrepo on postgresql-server and postgresql-client-libs"
While deploying postgres-formula on debian jessie I'm getting a problem. The postgresql-server and postgresql-client-libs don't get installed because of apt pinning.

[code]

You can see 990 for the jessie pkg and 500 for the jessie-pgdg package (less priority).

To get it to work we either have to add some pinning configuration or use fromrepo on the pkg.installed.

This is the quick hack I did t

[2016-12-15 18:48] bfrog opened #134 "Provide crossplatform postgis install"
It would be nice to have this formula deal with the mapping of which postgis package to use depending on the os family and pg version.

[2017-01-19 12:11] EvaSDK commented on #81
I recently reinstalled some VMs with this state and it is indeed fixed afaict. Thanks.

[2017-01-24 17:19] ek9 opened #140 "Per-schema extensions do not work"
As going per example in `pillar.example` file:

https://github.com/saltstack-formulas/postgres-formula/blob/master/pillar.example#L142

This does not seem to do anything.

[2017-01-24 17:19] ek9 commented on #140
For the moment I have issued a small PR to show how to enable extensions on a per-db basis: #139
still, that PR does not address of per-schema extensions not working.

[2017-01-25 21:12] fcrozat opened #141 "TypeError: get() takes exactly 3 arguments (2 given)"
When trying to use postgres-formula on openSUSE Leap 42.2 (which ships with 2016.3.4), I got the following error:
- Rendering SLS 'base:postgres.manage' failed: Jinja error: get() takes exactly 3 arguments (2 given)
      Traceback (most recent call last):
        File "/usr/lib/python2.7/site-packages/salt/utils/templates.py", line 368, in render_jinja_tmpl
          output = template.render(**de

[2017-02-05 19:10] YetAnotherMinion opened #143 "Fedora support"
Fedora operating system is not currently not supported because it uses a different upstream package repository than RedHat.

Structure of RedHat upstream repository
[code]
vs
[code]

[2017-02-05 21:40] #143 closed

[2017-02-06 16:26] YetAnotherMinion opened #145 "Custom tablespace state fails if run more than once"
I can create a custom tablespace and it is created successfully. However when I rerun `state.apply` the tablespace state fails complaining that the tablespace is in the wrong place. This prevents any other changes that are applied to the database definition in the pillar from being updated because they all require the `postgres_tablespace-cutom_space`

From my pillar.sls
[code]
The first time I ru

[2017-02-06 16:28] YetAnotherMinion opened #146 "Add support for SaltStack Nitrogen format for per db schemas and extensions"
I see warning that `schemas` and `extensions` will not work in Nitrogen version of SaltStack. I made a naive attempt to squash this error by moving the per database extensions and schemas under a `context` key, but that just changed the warning to  `context` being an invalid keyword for `postgres_database.present`. I don't know enough about salt yet to know exactly where the `postgres_database_pre

[2017-02-06 16:51] YetAnotherMinion commented on #145
this is the highstate generated for postgres_tablespace-custom_space

[code]

and this is where postgres thinks the existing tablespace is
[code]

[2017-02-06 17:01] YetAnotherMinion commented on #145
There is a trailing slash in pathname in my pillar. Removing the trailing slash from the pillar definition allows repeated applications of the salt state.

The error message could be more verbose and tell you what path you asked for vs which patch exists, but that functionality would be in the actual salt core for `postgres.managed`, not this formula.

[2017-02-06 17:01] #145 closed

[2017-02-06 17:04] YetAnotherMinion commented on #141
probably wants a default argument, which in this case would be

[code]

[2017-02-07 11:15] vutny commented on #141
@fcrozat Thanks for you report.

I've tested the code with Salt `2016.3.4` and `2016.11.1` many times and it always works fine for me. Maybe it is related to particular `jinja` module version installed...

Try to replace the line with the following:
[code]

I hope this will help. If so, we update the code accordingly.

[2017-02-11 14:13] fcrozat commented on #141
changing to {%- if not salt.get('postgres.user_create', False) %}  works fine.

other proposed fix ( %- if 'postgres.user_create' not in salt.keys() %} )doesn't work:

- Rendering SLS 'base:postgres.manage' failed: Jinja error: 'FunctionWrapper' object has no attribute '__call__'
      Traceback (most recent call last):
        File "/usr/lib/python2.7/site-packages/salt/utils/templates.py", line

[2017-02-11 16:04] vutny commented on #141
@fcrozat Thanks a lot for testing.
This is very interesting, it looks like ordinary Python methods cannot be reliably used for special Jinja objects such as `salt`, at least in your case. And I think the `get()` method cannot be fully trusted here to do the job I thought it was supposed to do.

Please, could you try the last one code snippet since only you are able to reproduce the issue?
Check th

[2017-02-12 21:35] rinatio opened #148 "RuntimeError: maximum recursion depth exceeded"
`- postgresql-plpython` line for `pkgs_extra` in pillar example causes error on vagrant with `config.vm.box = "ubuntu/xenial64"`:

[code]

![screen shot 2017-02-13 at 12 34 38 am](https://cloud.githubusercontent.com/assets/426879/22866253/3c4cd8f4-f184-11e6-8d83-58f448d58ea6.png)

[2017-02-13 13:03] fcrozat commented on #141
I can confirm the latest proposed fix works fine here.

[2017-02-13 13:20] vutny commented on #141
Cool! That was very helpful, @fcrozat. Soon I will come up with a PR to fix this and other similar calls to the `salt` object across the formula.

[2017-02-13 17:22] N-Mi commented on #148
Same problem here, with postgres 9.6 and salt 2016.11.2.

[code]

[2017-02-14 14:58] vutny commented on #148
I'm also able to reproduce this on `2016.11.2`. Looks like a Salt bug to me. But I don't really remember if I have applied the latest changes on `2016.3.4` and `2016.11.1`.
Meanwhile I'm trying to produce a workaround. Stay tuned and thanks for your report.

[2017-02-15 10:44] vutny commented on #148
I have fixed this in PR #149 . Please give it a try.

[2017-02-15 17:50] N-Mi commented on #148
Thanks, I can confirm this fixes the issue.

[2017-02-16 10:24] vutny commented on #148
Great!

Could somebody from the repo maintainers merge #149 please?
@javierbertoli , maybe you could help us here. Thanks in advance!

[2017-02-17 09:43] vutny commented on #141
@fcrozat PR #150 has been merged. I think this issue could be closed. Thanks for your participation!

[2017-02-27 14:26] fr6nco commented on #80
Hi, is this formula finished?

[2017-02-27 14:31] herisanu commented on #80
Hey @fr6nco , yes it is, but it's in the internal git repo.
I need to ask permission to share it on github. It's a simple install the package and create the configuration from jinja templates.

[2017-02-27 15:12] fr6nco commented on #80
@herisanu thats great. Could you please ask, wether you can publish it?

Or could you email me the source code zipped or targz-d ?

Thank you

[2017-02-27 15:37] herisanu commented on #80
Ok @fr6nco I'll ask my manager and reply.

[2017-03-02 09:32] fr6nco commented on #80
Hi @herisanu, do you have any updates?

[2017-03-16 10:30] #148 closed

[2017-03-29 10:35] vutny commented on #141
@javierbertoli Since this is already resolved, please close it out. Thanks!

[2017-03-29 10:56] #141 closed

[2017-05-19 11:42] arthurlogilab commented on #43
We have ended up using clusters in a use case of some postgreql servers deployed using this formula.

Right now the formula works in most places by adding db_port when needed (in some cases we need to use the conf_dir), but we might have to develop a few things on the formula that we will contribute if we find the time to adapt the formula.

[2017-06-11 15:14] johnkeates opened #152 "User creation and DB creation in the same run not working"
`----------
          ID: postgres_user-provisioner_local
    Function: postgres_user.present
        Name: provisioner_local
      Result: True
     Comment: The user provisioner_local has been created
     Started: 15:13:29.747481
    Duration: 519.459 ms
     Changes:
              ----------
              provisioner_local:
                  Present
----------
          ID: postgres_database-p

[2017-06-11 15:24] johnkeates commented on #152
Well, it basically doesn't work no matter what actually. Manually creating the database and then running state.apply isn't working either.

[2017-06-22 11:25] Magomogo opened #153 "Debian stretch is not supported"
[code]

[2017-06-22 13:03] vutny commented on #153
Hi @Magomogo.

This should be resolved with PR #154 merged in few minutes ago. Thanks for the report and please test.

[2017-06-22 13:06] javierbertoli commented on #153
Fixed on #154

[2017-06-22 13:06] #153 closed

[2017-08-16 13:54] dahrens commented on #152
I can confirm this. I've updated the formula today from upstream and receive the same error. For me it looks like the [postgres.database.present](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.postgres_database.html) gets fired and tries to execute the command as the user that is passed in as owner. But the user is not a user in the system, but just a database role.

[2017-08-16 13:57] dahrens commented on #152
Oh, directly after commenting I decided to read the documentation linked above.

@johnkeates you should not pass the argument `user` as this forces the behavior I described above. Only pass `owner` to ensure the owner gets set correctly. `user` forces salt to execute the command as this unix user, which is not present.

[2017-08-27 22:56] noelmcloughlin opened #156 "Using pillar.example as template difficulties"
A few weeks back I tested installation of this formula on Fedora/Debian/OpenSUSE without pillars and this worked good.   Repeating this test "with pillars" using pillar.example as template was unsuccessful as many individual states failed.  I solved by including following in pillar.example.

Should I raise PR to update pillar.example with same (perhaps commented out) as workaround to help others?

[2017-08-27 23:19] noelmcloughlin opened #157 "Fedora: Unexpected issue with postgres-python-pkg state"
On Fedora26/Salt2016.11.3 the state ID 'postgres-python.pkg' fails unexpectedly.

----------
          ID: postgresql-python
    Function: pkg.installed
        Name: python-psycopg2
      Result: False
     Comment: The following packages failed to install/update: python-psycopg2
     Started: 00:37:00.792703
    Duration: 72294.839 ms
     Changes:
              ----------
              python2-

[2017-08-28 09:37] EvaSDK commented on #156
Do I understand correctly that you just copied pillar.example into your pillars ? If so, this will not work for sure as it is only meant to show what can be configured, not to provide a working configuration.

[2017-08-28 11:56] noelmcloughlin commented on #156
Yes I understand its a template.  However I could update pillar.example adding above as commented section showing example working pillars - because it took me quite a while to nail this.  So my question is whether you think this is worthwhile, if yes I'll do PR.  Thanks @EvaSDK

[2017-08-28 14:27] EvaSDK commented on #156
Making the whole pillar.example be compatible with all supported distros does seem like an extensive maintenance work so I'd wouldn't recommend doing it, but I'm not the formula's maintainer :).

[2017-08-28 14:56] noelmcloughlin commented on #156
I was thinking we add the support above but "commented out" ;-)

[2017-09-13 23:48] noelmcloughlin commented on #157
Replicated again. SALT 2017.7.1-1

[2017-09-14 00:27] noelmcloughlin opened #158 "postgres_tablespace.present fails for [x] if x already present"
Using variation of pillar.example causes formula failure (fedora 26/Salt 2017.7)

       [ERROR   ] Command '['/bin/psql', '--no-align', '--no-readline', '--no-psqlrc', '--no-password', '--dbname', 'postgres', '-c', 'CREATE TABLESPACE "my_space" OWNER "localUser" LOCATION \'/srv/my_tablespace\' ']' failed with return code: 1
        [ERROR   ] stderr: ERROR:  could not set permissions on directory

[2017-09-14 00:29] noelmcloughlin commented on #157
Replicated again (rerun): SALT 2017.7

[2017-09-14 00:39] noelmcloughlin commented on #158
PR #159 does address this issue.

[2017-09-14 00:40] noelmcloughlin commented on #157
PR #159 does NOT address this issue.

[2017-09-14 00:46] noelmcloughlin commented on #156
@EvaSDK please review PR - I updated osmap.yaml instead.

[2017-09-14 00:47] noelmcloughlin commented on #152
Might be related to #158

[2017-09-14 21:47] noelmcloughlin opened #160 "Upstream Packaging: /bin/bash: initdb: command not found"
Deploy of postfix 9.6 on Ubuntu fails.

Replication
- Fresh vanilla installation of Ubuntu 16/17 & SALT 2017.17
- Change version "9.3" to "9.6" in pillars populated from pillar.example
https://github.com/saltstack-formulas/postgres-formula/blob/master/pillar.example

Output:

----------
          ID: postgresql-client-libs
    Function: pkg.installed
      Result: True
     Comment: 2 targeted pac

[2017-09-14 21:49] noelmcloughlin commented on #160
Ubuntu path is `/usr/lib/postgresql/9.6/bin/initdb`

[2017-09-14 22:11] noelmcloughlin commented on #160
Repeating same UC with "use_upstream_repo: True" also fails.

[2017-09-14 22:21] noelmcloughlin opened #161 "Ubuntu: Failed to configure repo 'postgresql-repo'"
Deploy of postfix 9.6 on Ubuntu fails using upstream repo.

Replication
- Fresh vanilla installation of Ubuntu 16/17 & SALT 2017.17
- Pillars populated as per pillar.example but ...
https://github.com/saltstack-formulas/postgres-formula/blob/master/pillar.example
1. - Change version "9.3" to "9.6"
2. - Change "use_upstream_repo: True"

Output:

----------
          ID: postgresql-repo
    Function

[2017-09-15 11:16] myoung34 commented on #134
I think the better option would be to have a postgis formula. Thats definitely a third party addon with its own complications and benefits

[2017-09-16 00:55] noelmcloughlin opened #162 "Darwin: function service.running cannot detect 'postgres'"
On Darwin, salt function service.running returns False despite pillar "postgres.service: postgres" having the correct value.

OS: Darwin 15.6.0
Version: saltstack: stable 2017.7.1 (bottled), HEAD

This is the code:

     postgresql-running:
        service.running:
         - name: {{ postgres.service }}
         - enable: True
         -  reload: True
        - watch:
           - file: postgresq

[2017-09-16 01:11] noelmcloughlin opened #163 "Darwin: postgres_schema.present throwing exception"
On Darwin the POSIX user/group created by default is named "_postgres".  An exception is thrown because salt tries to "runas: postgres" but this user does not exist.

OS: Darwin 15.6.0, Salt Version: saltstack: stable 2017.7.1 (bottled), HEAD

          ID: postgres_schema-uuid_ossp
    Function: postgres_schema.present
        Name: uuid_ossp
      Result: False
     Comment: An exception occurre

[2017-09-22 15:25] noelmcloughlin commented on #162
Based on salt.grains.core.py (if grains['kernel'] == Darwin THEN grains['os'] = "MacOS"). So we could update osmap.yaml with 'MacOS' stanza if needed.

[2017-09-22 15:25] noelmcloughlin commented on #163
Based on salt.grains.core.py (if grains['kernel'] == Darwin THEN grains['os'] = "MacOS"). So we could update osmap.yaml with 'MacOS' stanza if needed.

[2017-09-23 21:27] noelmcloughlin commented on #163
This [commit](https://github.com/saltstack-formulas/postgres-formula/commit/a1cc6056ede55d23cc2246f877a92c781b5ce485) adds Darwin support.

[2017-09-23 23:09] noelmcloughlin commented on #162
Testing with #164 suggests problem resides within salt.state  unless 'services' needs some special value.

**Wrong: "service: postgres" **

----------
          ID: postgresql-running
    Function: service.running
        Name: postgres
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/local/Cellar/saltstack/2017.7.

[2017-09-23 23:53] #163 closed

[2017-09-23 23:54] #156 closed

[2017-09-24 11:29] noelmcloughlin commented on #162
Could be environmental problem. Something is not correct.

Darwin:
[code]

service state:
[code]

Salt:
[code]
Formula os mapping:
[code]

[2017-09-24 13:24] johnkeates commented on #162
Have you tried setting the service to homebrew.mxcl.postgresql ?

[2017-09-24 13:59] noelmcloughlin commented on #162
Yes, but it threw python exception. I also tried adding '/usr/local/Cellar/postgresql/9.6.5/' path to launchd_paths() list since the plist file persists there regardless of service status.

I think its something silly but cannot see what.

Salt code searches `_launchd_paths()` paths listed above for the plist file.
`def _available_services():
    '''
    Return a dictionary of all available servic

[2017-09-24 17:25] noelmcloughlin opened #166 "Arch: formula not working"
For Arch the values "command" and "pkg_client" have incorrect values.  The correct values are "/var/lib/postgres/data" and "postgresql-libs.

Note 'postgresql-libs' package provides 'postgresql-client' on Arch but state works because  postgresql-libs is installed as dependency.

[2017-09-24 17:26] noelmcloughlin commented on #166
See correct value for **pkg_client** below.

$ pacman -Qo psql
/usr/bin/psql is owned by postgresql-libs 9.6.5-1

$ pacman -Qi postgresql-libs
Name            : postgresql-libs
Version         : 9.6.5-1
Description     : Libraries for use with PostgreSQL
Architecture    : x86_64
URL             : https://www.postgresql.org/
Licenses        : custom:PostgreSQL
Groups          : None
**Provides

[2017-09-24 17:26] noelmcloughlin commented on #166
Resolved by #165

[2017-09-24 17:33] noelmcloughlin opened #167 "Arch: salt detects upstart for service.running"
Replicated on ManjaroLinux (Arch distribution 17.0.5).  Should detect systemd.

...
[ERROR   ] The named service postgresql is not available
[INFO    ] Completed state [postgresql] at time 23:40:01.128941 duration_in_ms=0.858
[DEBUG   ] File /var/cache/salt/minion/accumulator/139911285947728 does not exist, no need to cleanup.
[DEBUG   ] LazyLoaded highstate.output
[TRACE   ] data = {'local': {'cm

[2017-09-24 19:52] johnkeates commented on #162
I noticed that too. It also tries to resolve symlinks correctly and discards broken ones, so no problems arise in case of removed packages. I'm thinking maybe this should be enriched (the service detection part) with direct launchctl access. Working with files is one way to do it, but if it's not reliable, salt might benefit from some service manager interaction. I haven't looked at the sources fo

[2017-09-24 20:12] #166 closed

[2017-09-25 22:12] noelmcloughlin opened #170 "postgres.manage state will not work on Arch"
This is caused by #167.

[2017-09-25 22:13] #170 closed

[2017-09-25 23:25] noelmcloughlin opened #171 "Archlinux: State postgres.manage fails"
Needs investigation. Replicated with default pillar.example.   These all fail.
[code]

[2017-09-25 23:47] noelmcloughlin opened #172 "State postgres_extension-uuid-ossp fails"
Needs investigation. Pillars based on defaults in pillar.example. OpenSUSE Leap 42

[code]

[2017-09-25 23:48] noelmcloughlin commented on #172
This was a formula rerun.

[2017-09-27 14:23] noelmcloughlin opened #173 "Upstream tracker: GPG key for Suse upstream repo"
This issue is tracking https://redmine.postgresql.org/issues/2732

Support for 'use-upstream-repo' can be introduced for Suse family, but GPG keys are not working or not published for Suse.

[2017-09-27 14:24] noelmcloughlin commented on #172
The root cause may be pillar related. @vutny

[2017-09-27 14:30] noelmcloughlin commented on #161
Need clarifying comment on pillar.example / README to help on-boarding experience.

Formula supports RedHat only, & Upstream supports Suse,Redhat, and Fedora only.

[2017-09-27 22:54] noelmcloughlin commented on #173
Procedure to be automated.  Hopefully upstream will simply deliver opensuse.repo file.

wget -O pgdg-sles-95-on-opensuse.repo https://yum.postgresql.org/suse/pgdg-sles-95.repo
sed -i 's/sles-$releasever/sles-12/' pgdg-sles-95-on-opensuse.repo
zypper addrepo  pgdg-sles-95-on-opensuse.repo
zypper refresh
zypper in postgesql95-xxxxx

[2017-10-02 15:48] noelmcloughlin commented on #162
Problem: Brew installs Kegs in the Cellar (`/usr/local/Cellar`) but salt does not look there.
**Solution**:  Update `salt.modules.mac_services._launchd_path()` adding Cellar.
[code]
**Now `available_states` dict includes Brew(ed) services:**
[code]

This dict clearly suggest  (''homebrew.mxcl.[salt-formula-service-name]' is the correct salt-formula value for all homebrew(ed) software, apparently @

[2017-10-04 14:50] noelmcloughlin commented on #162
I got Tomcat working on Darwin (see saltstack-formulas/tomcat-formula/issues/70). Need to port solution to Postgres.

[2017-10-06 12:39] PhilippeAB opened #174 "Add support for multiple clusters / versions"
Need the port to be configurable

[2017-10-26 08:28] tiyab opened #175 "[QUESTION] Extra configuration files"
Hi,
The way I am using PostgreSQL is, once installed, I do not modify the file `/etc/postgresql/[VERSION]/main/postgresql.conf`.
I prefer to create extra configuration files that I put in `/etc/postgresql/9.6/[VERSION]/conf.d/` since files in `*.conf` directory are automatically loaded.
That way I have:

- `../conf.d/general.conf`  in which I set common parameters like `listen_addresses = '*'` and

[2017-11-02 21:37] noelmcloughlin commented on #173
In October the upstream repo for SuSE moved from
 https://download.postgresql.org/pub/repos/zypp/9.5/suse/sles-12-x86_64/
   to
https://download.postgresql.org/pub/repos/yum/9.5/suse/sles-12-x86_64/

[2017-11-21 21:51] ninapavlich commented on #161
Hi @noelmcloughlin have you found a good workaround or pillar configuration for Ubuntu + 9.6?

[2018-01-15 14:54] noelmcloughlin commented on #162
Added support for PostgresAPP upstream package on MacOS: #178

TODO: Homebrew installation of postgres

[2018-01-15 18:26] noelmcloughlin commented on #162
Homebrew #179

[2018-01-15 23:08] noelmcloughlin commented on #161
Hi @ninapavlich, sorry I missed your question.  I'll have a look this week. Thx.

[2018-01-16 23:51] noelmcloughlin commented on #161
Hey @ninapavlich, this formula would not work on vanilla Ubuntu 16.04, so this is workaround-

**Preparation:**

[code]

highstate ...
[code]

pillar.example edits ...
[code]

**Result ...**

[code]

Applying the states again throws a bug...

[code]

I think upstream packages are executing 'initdb' as part of postinstall because unless execution succeeds?

[code]

[2018-01-17 00:02] noelmcloughlin commented on #160
See https://github.com/saltstack-formulas/postgres-formula/issues/161

[2018-01-17 12:19] noelmcloughlin commented on #158
Fix using same workaround described in #161

[code]

[2018-01-17 12:19] #158 closed

[2018-01-17 16:59] noelmcloughlin commented on #157
This is related to #161

[2018-01-17 16:59] #157 closed

[2018-01-17 16:59] noelmcloughlin commented on #162
There is no bug - working with #178 and #179 so closing.

[2018-01-17 16:59] #162 closed

[2018-01-24 16:47] philpep opened #184 "Make postgresconf pillar a dict or list to allow to be merged"
I'd like to have a default sls with some postgresql config in `postgres:postgresconf` pillar and a minion specific that override it (at least append).

I think `postgresconf` should be changed to a dict or a list (probably a dict is better) to handle this use case. What do you think ?

[2018-01-28 13:45] noelmcloughlin commented on #160
Again in PR #176, creating the DB fails as `initdb` is not in PATH (#160).

Upstream Postgres package maintainers consider `initdb` to be **NOT 'cross version compatible'** and this class of binary are **not** added to PATH or ALTERNATIVES. My solution in #176 is to use salt.alternatives.install for this class of binary - this puts `initdb` into the PATH.
[code]

[2018-02-05 20:42] noelmcloughlin commented on #172
Caused by missing `postgresql-contrib` package. See #176

[2018-02-06 18:27] noelmcloughlin commented on #133
@arthurlogilab could you review solution in #185

[2018-02-09 14:00] noelmcloughlin opened #186 "postgres_tablespace.present noisy error"
Formula could be improved to stop this noise.

[code]

[2018-02-12 15:57] noelmcloughlin commented on #172
Here is one solution - only install postgres-contrib - when extensions are defined.  This package contains "extensions and addons not part of core" according to packaging info.
[code]

Other solution suggestions welcome.

[2018-02-24 22:54] noelmcloughlin commented on #186
Always happens on Centos

[2018-02-27 14:48] noelmcloughlin opened #189 "Is bin_dir and *bins missing for Suse in osmap.yml"
Check if `osmap.yaml` requires `bin_dir `and `*_bins` parameter are needed, similar to RedHat section.  If they are needed add this if #176 is merged.  The packaging maintainers may handle this (if memory serves correctly).

[2018-02-27 14:57] noelmcloughlin opened #190 "Don't require package names in pillar data"
The pillar.example illustrates a design problem where, in some scenarios, package names must be defined as pillars.  This requirement should be removed or replaced by abstract flags-

- require_contrib_package = True
- require_python_package = True

Furthermore, in my opinion, if pillar data includes `postgres.extension` list then `contrib` package should be auto-installed. Formula user should not

[2018-03-16 22:36] noelmcloughlin commented on #173
Track pgdg-95 repo problem on opensuse. https://redmine.postgresql.org/issues/3215

[2018-03-16 23:08] noelmcloughlin commented on #189
This needs fixing in `osmap.yaml for Suse
`
Missing alternatives following pgdg-96 install
[code]
Missing alternatives following pgdg-10 install
[code]

[2018-03-17 13:01] #189 closed

[2018-03-20 17:02] noelmcloughlin commented on #186
Happens on Fedora 27 too.  Never happens on ubuntu.

[2018-03-20 17:05] noelmcloughlin opened #194 "Centos requires - libicu?"
Issue seen on Centos

[code]

[2018-03-20 22:21] noelmcloughlin opened #195 "postgresql.dev dependency hell on RedHat"
Getting `postgresql10-devel` installed on RedHat os_family is tricky due to dependencies:

- perl-Time-HiRes
- libicu-devel
- perl-IPC-Run
- perl-Test-Simple

Example errors seen
[code]

**Workaround Fedora**
[code]
**Workaround Centos**
[code]

Finally the state worked.
[code]

[2018-03-20 23:34] noelmcloughlin commented on #194
Duplicate of #195

[2018-03-20 23:34] #194 closed

[2018-03-21 23:16] noelmcloughlin commented on #186
The `0700` permissions on {{ tablespace }} must be the problem.
[code]
Actual permissions:
[code]

[2018-03-28 14:46] noelmcloughlin commented on #195
I use packages-formula to install missing dependencies.

[2018-03-28 14:47] noelmcloughlin commented on #172
No time to look at this issue. closing for now.

[2018-03-28 14:47] #172 closed

[2018-03-28 14:49] noelmcloughlin commented on #133
I have this fromrepo working on a branch (fedora,ubuntu/centos).  Will raise a PR soon.

[2018-03-28 14:59] noelmcloughlin commented on #160
Handling in https://github.com/saltstack/salt/issues/46615

[2018-03-28 14:59] #160 closed

[2018-03-28 15:04] noelmcloughlin commented on #161
will fix this in upcoming PRs.

[2018-03-28 15:04] #161 closed

[2018-04-15 18:09] bogdanr opened #208 "Rendering SLS 'base:postgres.server' failed: found unexpected ':'; line 42"
Just running the state on Debian 9 produces the following error:
[code]

[2018-04-15 19:46] noelmcloughlin commented on #208
Yeah, its a salt 2018.3.0 bug: https://github.com/saltstack/salt/issues/46929

On 4/15/18, Bogdan Rădulescu <notifications@github.com> wrote:

[2018-05-09 16:45] #133 closed

[2018-05-11 17:41] noelmcloughlin opened #213 "limit.maxfiles.plist not rendered on MacOS"
In **dev.sls** the context dict values passed to `limit.maxfiles.plist` are not rendered.

[code]

[code]

[code]

[2018-05-22 05:07] Magomogo opened #214 "State postgres-reload-modules always reports changes"
When a state does nothing it shouldn't report changes.
The issue caused by https://github.com/saltstack-formulas/postgres-formula/pull/188

[2018-06-18 17:37] #195 closed

[2018-06-18 21:29] myii commented on #174
@PhilippeAB Port is now configurable.

[2018-06-19 13:49] myii commented on #174
@noelmcloughlin I don't think this issue should be closed just yet.  Allowing the port to be configurable was just the first stage.  As I've said in https://github.com/saltstack-formulas/postgres-formula/pull/218#issuecomment-397809521, this progress can now be built upon to support multiple clusters/versions.

[2018-06-19 13:55] noelmcloughlin commented on #174
True. I closed because the issue description only requested a configurable port. I now see slogan is talking about multiple cluster / version. Thats fine.

[2018-06-19 13:57] noelmcloughlin opened #230 "Citus extension support"
We could add Citus extension support - https://www.citusdata.com/ - looks like interesting "scalable postgres" technology.

[2018-08-10 12:50] Poil opened #236 "Fresh install need to restart after pg_hba.conf"
Hi,

I've deployed a new postgresql server, it seems that the postgresql-pg_hba resource is not notifying the postgresql service (PG 10 on CentOS 7)

Best regards

[2018-08-16 20:49] myii commented on #236
This was addressed by @RobRuana (with a proposed resolution): https://github.com/saltstack-formulas/postgres-formula/pull/216#discussion_r207033897.

[2018-09-21 17:08] AndreiPashkin opened #239 "Are custom data directories supported?"
Is it possible to specify custom data directory using the formula? Currently I get `"cluster configuration already exists"` error when `postgres:data_dir` is provided.

[2018-09-26 11:59] arthurlogilab opened #240 "Command "service postgresql initdb" run failing on /etc/init.d/postgresql"
[code]

Is there not a more modern way to iniitdb without trying /etc/init.d/postgresql ?

[2018-10-01 10:45] bebosudo opened #241 "jinja strip white spaces option in salt master config causes a broken pg_hba.conf"
Hi,
I'm using this formula, along with the following lines in my salt master configuration:
[code]
to strip empty lines in my salt states. This causes the following `pg_hba.conf` file:
[code]

Which is caused by lines https://github.com/saltstack-formulas/postgres-formula/blob/87f6cd880ca637984268e3bbe4ef7078f47ced08/postgres/templates/pg_hba.conf.j2#L39 and L23.
Do you think a pull request to rem

[2018-10-02 10:09] bebosudo opened #242 "use_upstream_repo is unable to install the latest version of pg on Centos 7"
Hi,
I'm using this formula on a CentOS 7, when I try to install with `use_upstream_repo`, the `postgresql-server` state crashes due to a missing dependency unsatisfied.
This is my pillar configuration:
[code]
From the logs of the minion I was able to find the line submitted:
[code]
which is the same error I see in the state stderr when it fails.

The problem is in that `--disablerepo=*`, because `

[2018-10-15 15:56] gilou commented on #242
Same thing on a fresh install, I don't know enough about repo handling in RHEL to answer, but if it gives priority to the pgdg repos and then looks in base, this seems reasonnable. It works when set though pillar.

However, since the naming doesn't conflict, we could just drop fromrepo on RH-like distribs?

[2018-10-15 16:11] noelmcloughlin commented on #186
Will try adding `postgres.selinux.enabled: False` state before CREATE TABLESPACE

[2018-10-15 17:29] bebosudo commented on #242
If you don't set the `fromrepo: ..` in your pillar, it will use line 42 from `osfamilymap.yaml`, which breaks the installation.

I think the `fromrepo` in the yaml should stay there as it is, since we want to install pg from the repo with the specific release we choose, but we need to either ask maintainers of the pg RPM repos to add libicu, or add `,base` in this salt formuia for RedHat families

[2018-10-16 16:39] noelmcloughlin commented on #186
**Further issue to be fixed in this formula-**

cut+paste from https://github.com/saltstack/salt/pull/50045

[2018-10-17 14:14] javierbertoli commented on #241
Fixed on #244

[2018-10-17 14:14] #241 closed

[2018-10-18 19:42] #186 closed

[2018-10-19 09:57] noelmcloughlin commented on #239
Hi @AndreiPashkin there are few ways forward.

1. Run ``postgres.server.remove`` before ``postgres`` state
2. Set `postgres:data_dir` to unique value:  ``postgres:data_dir: /var/lib/mydir/mydata``

If both are not working then there is either bug or pillar data is wrong.

[2018-10-19 10:37] noelmcloughlin commented on #236
impacts Ubuntu too, see #216 (comment)

[2018-10-22 12:22] danny-smit commented on #236
I just ran into this with Debian as well. It seems that triggering a reload manually does pick up the changes, but during the run of this formula it does not.

Could it be that it is actually a race condition? As the formula executes the following steps:
1. update postgresql.conf
2. restart postgresql service
3. update pg_hba.conf
4. reload the postgresql service

Perhaps the reload (bullet 4) is

[2019-01-16 12:46] myii commented on #241
#244 results in a side effect for those running with the default values of `False` for the Jinja block trimming/stripping environment variables:

[code]

* Blank lines are inserted for all existing `pg_hba.conf` files.

Of course, the situation resolved by #244 is critical; but this side effect is an annoyance.  Is there any way (similar to `config.get`) to check for these Jinja values and apply t

[2019-01-19 09:10] #236 closed

[2019-01-27 11:38] #239 closed

[2019-03-04 12:02] twistedjoe opened #253 "Unable to locate package on debian stretch"
On debian stretch 9.6 if I run the postgres state with defaults, it crash  on postgresql-server with

----------
          ID: postgresql-server
    Function: pkg.installed
      Result: False
     Comment: Problem encountered installing package(s). Additional info follows:

              errors:
                  - Running scope as unit: run-r95b568b09a624343a63bc95286832a39.scope

[2019-03-04 12:15] vutny commented on #253
This is due to incompatible changes in how Salt renders Jinja in 2019.02 release.
See saltstack/salt#51925 and the [release notes](https://docs.saltstack.com/en/develop/topics/releases/2019.2.0.html#non-backward-compatible-change-to-yaml-renderer) for details.

I guess many formulas including this one need to be patched.

[2019-03-04 18:14] myii commented on #253
As discussed in our Slack/IRC/Matrix room, we've got a [bit of a problem](https://freenode.logbot.info/saltstack-formulas/20190304#c2037310):

[2019-03-05 02:10] myii commented on #253
@vutny Tossed around a few more ideas in the discussion beyond the snippet quoted above.  Tried quite a few different things.  It appears that the only realistic solution, to cover until the time `tojson` becomes ubiquitous, is to use the `| json` renderer.  That's the only thing that's guaranteed to work, for older minions as well as in the future (no signs of deprecation).  Ultimately, once `201

[2019-03-05 10:22] vutny commented on #253
@myii I don't really understand why SaltStack and the community are marketing `tojson()`.

If we take a look at [Jinja upstream docs](http://jinja.pocoo.org/docs/2.9/templates/#tojson), it's clearly stated the the filter is intended to use within HTML, not YAML (or SLS) at all.
That works most of the times, but designed for totally different use case. And it would play tricks on you when trying to

[2019-03-05 19:23] myii commented on #253
@vutny Thanks for your reply.  Some of what I've got is from looking into things but most of it is from (discussions with) others.

You've already linked to the [2019.2 release notes](https://docs.saltstack.com/en/develop/topics/releases/2019.2.0.html#non-backward-compatible-change-to-yaml-renderer) above.  Essentially, in terms of considering _Jinja filters alone_, then the upstream `|tojson` fil

[2019-03-05 19:28] myii commented on #253
@twistedjoe Sorry for hijacking your issue!  You're not being ignored but due to this breaking change in `2019.2`, we're trying to work out the best way to deal with this across all of SaltStack Formulas.

In the meantime, do you mind testing with this to see if it works for you?

https://github.com/saltstack-formulas/postgres-formula/blob/e7a309de9b732dbd1ac4996dd788cda7d00abdbd/postgres/server/i

[2019-03-05 21:26] aboe76 commented on #253
@myii plus the ``` {{ bla | json }} ``` has been used in more then one formula already:
- docker-formula
- apache-formula
- nfs-formula
- uwsgi-formula
- systemd-formula
- postfix-formula
- php-formula
- node-formula
- nginx-formula
- libvirt-formula
- hostsfile-formula
- firewalld-formula
-

[2019-03-06 10:59] vutny commented on #253
# TL;DR
Guys, don't get me wrong, I'm totally happy with `json()` as it does the job well on simple things like list of packages to install.

# My motivation for the discussion
I just got a habit to use `yaml()` because I stepped on edge cases with `json()` couple of times...
Think of a long multiline string coming from external data source, which could have any content.

Let it be a shell script

[2019-03-06 18:52] myii commented on #253
@vutny TL;DR: Didn't get you wrong at all, this feedback was welcome.  You've raised important points that need to be considered.

I think we approach this from a similar viewpoint.  I've used `|yaml` extensively myself for my own projects.

Now this is an action point.  I believe we could really benefit from collecting examples that cause breakages, both ways (i.e. `|json` and `|yaml`).  If we co

[2019-03-06 19:37] aboe76 commented on #253
@myii don't support `dson` please I can't bear the thought of having to support templates with
```such``` and ```wow```

[2019-03-06 19:40] myii commented on #253
@aboe76 This is it!  The conversion to `dson` begins today!  At least when things fail, we'll be entertained by messages like `wow` and `boom!` -- not that I've checked this, of course!

[2019-03-06 22:50] #171 closed

[2019-03-06 22:51] #167 closed

[2019-03-06 23:37] noelmcloughlin commented on #253
Here is link to comprehensive Eriksson-Halberg study of performance  & syntax of JSON and YAML:
http://www.csc.kth.se/utbildning/kth/kurser/DD143X/dkand11/Group2Mads/Rapport_Malin_Eriksson_Viktor_Hallberg.pdf

One statement captures the essence of the problem... speed sacrifices robustness and visa versa.

See also  http://summit.yaml.io/the-yaml-summit-wiki.html
I was also reading somewhere about

[2019-03-07 07:04] twistedjoe commented on #253
@myii Nah it's fine :p
I'll try to test it next time I rebuild the staging server.

[2019-03-08 09:19] twistedjoe commented on #253
Switching to `pkgs | json` does fix the problem. Thank you.

[2019-03-08 09:24] myii commented on #253
@twistedjoe Thanks for testing, I've sent through PR #254 to push through that fix.

[2019-03-13 17:10] #253 closed

[2019-04-15 11:00] noelmcloughlin opened #259 "Package 'libpqxx' not found"
I saw this error on OpenSuSE:
[code]

[2019-04-18 12:31] jschaeff opened #260 "Initial postgresql.conf file not managed"
Hi,

I try to use this nice formula to deploy a postgres server, but at a non default directory. I put data_dir and conf_dir at "/data/postgres".
The formula creates this directory but then it _ignores it_ for the rest of the configuration, resulting in :
- systemd file not pointing to the right PGDATA
- postgresql.conf not present in the conf_dir

My postgresql server is on CentOS7. I made a loca

[2019-04-20 00:44] myii commented on #260
@jschaeff Thanks for your bug report.  I've tested on a docker-based CentOS 7 minion and can reproduce at least part of what you've mentioned.

So using a basic pillar containing:

[code]

I can reproduce the `systemd` problem in `/usr/lib/systemd/system/postgresql.service`:

[code]

However, I cannot reproduce the `postgresql.conf` problem:

[code]

@jschaeff Could you share your specifics, such

[2019-04-20 01:15] myii commented on #260
Unfortunately, things get uglier with an Ubuntu minion when trying to supply custom values for `conf_dir` and `data_dir`:

[code]

Since the default cluster location is used as part of the package installation process:

[code]

We'd need to find a way of dealing with this cluster first.

[2019-04-24 09:18] vutny commented on #260
@myii Regarding the suitable fix for SystemD unit on RedHats, I prefer putting only the changed string into
`/usr/lib/systemd/system/postgresql.service.d/10-pgdata.conf`.

[2019-04-24 10:12] myii commented on #260
@vutny This is an excerpt of what I find at the top of `/usr/lib/systemd/system/postgresql.service`:

[code]

* States the override file should be `/etc/systemd/system/postgresql.service`.
* Also need to adjust the SELinux configuration -- does the formula already handle this?

[2019-04-24 10:25] vutny commented on #260
That is just another way of how you can do it in Systemd. It's fine if PostgreSQL package recommends such approach. Just need to manage it from a single place and run `systemctl daemon-reload` on change.

Regarding SELinux, we have some code covering policy updates for tablespaces. I guess that need to be abstracted to cover `PGDATA` as well.

[2019-04-24 10:31] myii commented on #260
@vutny Looks like we've got deeper problems with CentOS 7, even without these customisations.  Running `postgres.server` ends in failure:

[code]

[2019-04-24 10:41] vutny commented on #260
@myii Are you testing in Docker? Since there is no systemd running as `init`, this is legitimate.

[2019-04-24 10:43] myii commented on #260
@vutny You got me there.  The question now is how is this going to work with the new CI testing matrix?  Simply disable for `centos-7`?

[2019-04-24 10:50] vutny commented on #260
:smile_cat: There is a special Pillar setting called `bake_image`.
I have specifically implemented it to be able to create custom container/VM images. You may try that, but it wasn't tested for a long time.

[2019-04-24 10:54] myii commented on #260
@vutny Thanks for that.  I'm speaking with @javierbertoli in our Slack/IRC/Matrix room right now and he's got some suggestions.  Do join us when you get a chance (even once in a while), it really helps work things out collaboratively.

[2019-04-24 11:09] vutny commented on #260
I got used to https://gitter.im/. It is so easy to create a room per repo or an organization and you don't need anything else than GitHub OAuth. I've invited you there. Probably the community would consider it as an alternative channel for conversations around specific repositories.

[2019-04-24 11:28] vutny commented on #260
JFYI folks: https://gitter.im/postgres-formula/community

[2019-04-26 06:49] sticky-note opened #263 "osFamilyMap.yaml FreeBSD default user"
Actually default user for FreeBSD is `pgsql` whereas it is `postgres` on FreeBSD's package installation for Postgres 9.6.
It causes `postgres.server` state to fail without pillar adjustments.

[2019-04-26 07:55] vutny commented on #263
@sticky-note Thanks for pointing us to it. Seems to be an easy fix. Would you mind to submit a PR?

[2019-04-28 20:07] sticky-note commented on #263
I'm currently isolating a bug with the service. Don't know if it involves the formula or salt itself. I'll submit a PR when ready.

[2019-05-02 08:22] myii opened #266 "Setting `postgres.port` does not work on `RedHat` OSes"
Found during testing with #262.  Modifying `postgresql.conf` doesn't work.  It requires customising the `systemd` service as outlined [on this page](https://stackoverflow.com/questions/25148693/need-help-to-change-postgresql-port-on-centos-7).

[2019-05-16 07:45] #263 closed

[2019-05-16 08:05] saltstack-formulas-travis commented on #263
:tada: This issue has been resolved in version 0.37.3 :tada:

The release is available on [GitHub release](https://github.com/saltstack-formulas/postgres-formula/releases/tag/v0.37.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-12 14:33] noelmcloughlin opened #270 ""LATIN1" does not match locale "en_US.UTF-8""
Issue seen on Vagrant Ubuntu 18
[code]

[2019-06-13 00:36] myii commented on #270
@noelmcloughlin Here's the relevant starting point in the last successful Travis run for `centos-7-2019-2-py3`:

* https://travis-ci.com/saltstack-formulas/postgres-formula/jobs/204586643#L1383

What's the configuration that you're using?  Or could you compare it to the [`postgres.sls` pillar being used by Kitchen](https://github.com/saltstack-formulas/postgres-formula/blob/44b8fb1bc254efb25a628c1

[2019-06-13 12:21] noelmcloughlin commented on #270
I'll retest next week and see what cause it.

[2019-06-13 13:37] noelmcloughlin commented on #270
Actually it's generic/ubuntu1804 vagrant image. The default locale is incorrect !!
[code]

[2019-06-13 19:54] noelmcloughlin commented on #270
Fixed the locale worked
[code]

[2019-07-23 21:43] johnkeates opened #276 "Does not work with Debian Buster"
Debian buster fails because it's not added to the yaml files.

[2019-07-23 21:44] johnkeates opened #277 "Uses initdb even when it's not needed"
Distro packaged postgres installs usually don't require a manual initdb step, but this is always executed in this formula.

[2019-07-24 20:28] #276 closed

[2019-07-24 20:40] saltstack-formulas-travis commented on #276
:tada: This issue has been resolved in version 0.38.0 :tada:

The release is available on [GitHub release](https://github.com/saltstack-formulas/postgres-formula/releases/tag/v0.38.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-28 10:33] myii commented on #253
@vutny Just reporting back that I just got burnt by this as well -- but I did say that I've used `| yaml` in my own formulas previously!  Using either `| json` or `| tojson` was adding quotes to numerical keys that I was relying upon in a loop (to still be numbers, not strings).

So, this issue isn't going to go away any time soon.  `| tojson` is going to cause the same problems.

[2019-08-03 13:48] noelmcloughlin opened #281 "state failures on archlinux"
[code]

[2019-08-05 10:17] noelmcloughlin opened #282 "Tavis CI job failure for redhat"
See https://travis-ci.com/saltstack-formulas/postgres-formula/jobs/222406524
[code]

[2019-08-05 13:03] noelmcloughlin commented on #270
I got caught by this again.

Maybe failure of `postgres_database.present` can be used to trigger a new `check-locale` state using `onfail_in` requisite.  On Ubuntu that check would be `locale | grep -i utf8` but would be managed by `osfamilymap`.  The check will not run if `postgres_database.present` is successful!

Can postgres/mysql databases be created without `utf8`?  If yes then some other ge

[2019-08-05 13:06] noelmcloughlin commented on #270
[code]

[2019-08-20 12:30] #173 closed

[2019-08-26 10:17] lastmikoi commented on #242
I came across this issue today when provisioning a new machine. I think for the sake of making the formula usable for RedHat families we should add the `,base` workaround until either solution 1 (which seems unlikely to me, it would not make sense for maintainers to ship a package that is already in the base repository) or 3 are implemented.

I applied the `,base` fix in our fork and I can report

[2019-08-26 16:22] myii commented on #242
@vutny What are your thoughts about this?

[2019-09-10 21:41] noelmcloughlin opened #290 "freebsd: User 'pgsql' is not available"
Seeing this error on FreeBSD even with `./defaults.yaml:  version: '10'`
[code]

[2019-09-11 09:47] #281 closed

[2019-09-11 10:02] saltstack-formulas-travis commented on #281
:tada: This issue has been resolved in version 0.40.1 :tada:

The release is available on [GitHub release](https://github.com/saltstack-formulas/postgres-formula/releases/tag/v0.40.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-25 17:50] myii commented on #43
@arthurlogilab Any plans for implementing this now?

[2019-11-26 08:15] arthurlogilab commented on #43
Sorry no.

[2019-12-22 18:05] vutny commented on #270
Is this still an issue?

[2019-12-22 19:05] noelmcloughlin commented on #270
The state `postgres_database.present` fails when OS locale is not utf8. I presume UTF-8 is the default when pillar data does not specific LC_TYPE.

However pillar data does support **LC_TYPE** according to pillar.example.
[code]

So a solution might be to update `format_state` macro to apply LC_TYPE from pillar data.

https://github.com/saltstack-formulas/postgres-formula/blob/fbd8f65561a9078b39e7

[2020-04-14 18:57] noelmcloughlin opened #295 "[BUG] tablespace state failure on CENT8/RHEL8"
## Your setup
### Formula commit hash / release tag

### Versions reports (master & minion)

### Pillar / config used

---

## Bug details
### Describe the bug

[code]

### Steps to reproduce the bug

### Expected behaviour

### Attempts to fix the bug

### Additional context

[2020-07-10 16:30] #190 closed

[2020-07-10 17:29] #230 closed

[2020-12-02 22:19] noelmcloughlin opened #302 "[BUG] nothing provides libicui18n.so.52.1()(64bit) for postgresql10"
## Your setup
### Formula commit hash / release tag

### Versions reports (master & minion)

[code]

### Pillar / config used

[code]
---

## Bug details
### Describe the bug

The default configuration for openSUSE does not work?

What is the correct pillar for OpenSUSE  Leap 15.2?

### Steps to reproduce the bug

[code]

### Expected behaviour

### Attempts to fix the bug

### Additional context

[2020-12-02 23:06] noelmcloughlin commented on #302
I remember https://github.com/saltstack-formulas/postgres-formula/pull/176 hardcoded suse-12 because there was no repo available for suse-15.

[2020-12-08 11:10] noelmcloughlin commented on #302
#303

[2020-12-08 11:10] #302 closed

[2020-12-15 15:07] noelmcloughlin opened #307 "[BUG] postgres.dev state fails on suse"
## Your setup
### Formula commit hash / release tag

### Versions reports (master & minion)

### Pillar / config used

[code]

---

## Bug details
### Describe the bug

[code]

### Steps to reproduce the bug

### Expected behaviour

### Attempts to fix the bug

### Additional context

[2021-03-14 05:49] x011 commented on #270
postgres is full of stupid bugs, this is one of them.

[2021-07-09 21:06] litnialex opened #317 "[FEATURE] replace module.run function when postgres.bake_image=True"
### Is your feature request related to a problem?
postgres/server/image.sls uses "legacy" syntax:
[code]

"The legacy style will no longer be available starting in the 3005 release" (https://docs.saltproject.io/en/3002/ref/states/all/salt.states.module.html#salt.states.module.run)

And it already incompatible with minion configuration:
[code]
which is used in my case for other purposes.

### Descr

[2022-05-17 10:28] teankie opened #324 "[BUG] Postgesql version install 14 instead of 13"
## Your setup
### Formula commit hash / release tag

Release 0.44

### Versions reports (master & minion)

Salt Version:
          Salt: 3004.1

### Pillar / config used

----------
          ID: postgresql-repo
    Function: pkgrepo.managed
        Name: deb [signed-by=/usr/share/postgresql-common/pgdg/apt.postgresql.org.gpg] http://apt.postgresql.org/pub/repos/apt focal-pgdg main
      Result: T

[2022-11-14 13:53] teankie opened #327 "[BUG] postgresql-common conflicts with pgdg-keyring"
## Your setup
### Formula commit hash / release tag

[code]

### Versions reports (master & minion)

### Pillar / config used

---

## Bug details
### Describe the bug

Last friday there is a new version of postgresql-common (246.pgdg18.04+1) which includes pgdg-keyring. So it will remove the package pgdg-keyring. This will break the formula.

### Steps to reproduce the bug

sall-call state.sls po

[2022-11-14 16:04] technikerk commented on #327
I can confirm this issue on an up2date Ubuntu 22.04.1 LTS, using postgresql-common 246.pgdg22.04.

One could read a few more details on the change here: https://www.postgresql.org/message-id/Y25%2BRkZxiZKBOKio%40msg.df7cb.de

My temporary workaround/fix was to update upstream.sls:

[code]

[2022-11-15 08:21] teankie commented on #327
The solution from [technikerk] is not the correct one because is use the postgresql version and the postgresql-common version.
So we made a change for postgresql-common version.
[code]
We will make a merge request for this.

[2022-11-15 13:50] technikerk commented on #327
@teankie Thanks for your improvment of my quick workaround and contribution! I wasn't trying to sell it as a solution. ;)

Now, I was wondering, if one now does a fresh installation of a modern postgresql (no pgdg repo configured yet), wouldn't the repo setup fail because `/usr/share/postgresql-common/pgdg/...gpg/asc` is still missing? Should we rather install `postgresql-common` (needs `postgresq

[2022-11-15 14:48] technikerk commented on #327
OK, nevermind. It works perfectly, as postgresql-repo-keyring would still install `pgdg-keyring` if/before `postgresql-common` is available on the system.

[code]

[2022-11-26 12:50] christophlsa commented on #327
The change from https://github.com/saltstack-formulas/postgres-formula/issues/327#issuecomment-1314952920 helped. Thanks!

[2022-11-28 14:08] Lucianovici commented on #327
Hey - we also experience this. Can we merge please? :)